
<section class="usa-section" style="background-color:white;">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <strong>
        Feedback Data collected
        April 1 –
        June 30, 2020
      </strong>
      <p>
        We are currently unable to publish scores across each of the
        government-wide experience measures
        (including trust, satisfaction, and drivers such as ease, equity, and employee interaction)
        due to data being collected under Paperwork Reduction Act
        clearances that do not allow for public disclosure.
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-serif">
      <div class="usa-width-one-third">
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em;">
            14
          </span>
          <br>
          <span style="font-size: 1.625em;">
          Agencies
          </span>
        </div>
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em;">
            20
          </span>
          <br>
          <span style="font-size: 1.625em;">
          Services
          </span>
        </div>
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em; display: block;">
            556,507,135
          </span>
          <span style="font-size: 1.625em;">
            Interactions
          </span>
        </div>
        <div class="usa-width-one-whole">
          <span style="font-size: 2.25em; display: block;">
            1,108,908
          </span>
          <span style="font-size: 1.625em;">
            Responses
          </span>
        </div>
      </div>
      <div class="usa-width-two-thirds">
        <div class="usa-width-one-half">
          <h4 style="text-align: center;">
            Responses by agency
          </h4>
          <div style="max-width: 260px; margin: 0 auto;">
            <canvas id="cx-doughnut-chart-canvas" width="220" height="400">&nbsp;</canvas>
          </div>
        </div>
        <div class="usa-width-one-half">
          <h4 style="text-align: center;">
            Responses by channel
          </h4>
          <div style="max-width: 200px; margin: 16px auto 0 auto;">
            <canvas id="cx-doughnut-chart-responses-by-channel" width="200" height="340">&nbsp;</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var doughnutData = {
    datasets: [{
      data: [
        305079, 279814, 119138, 118122, 92514, 91975, 40574, 60977
      ],
      backgroundColor: [
        "#00BDE3",
        "#0071bc",
        "#6D7375",
        "#285C7E",
        "#94C7E9",
        "#173D4D",
        "#B3B6B7",
        "#372D5F",
      ],
      label: 'Responses by Agency'
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
      'VHA (email)',
      'Medicare (phone)',
      'Healthcare.gov (phone)',
      'IRS (web)',
      'Medicare (phone)',
      'SSA (web)',
      'OPM Retirement (web)',
      'Others'
    ]
  };

  var doughnutConfig = {
    type: 'doughnut',
    data: doughnutData,
    options: {
      responsive: true,
      legend: {
        align: 'start',
        position: 'bottom',
      },
      title: {
        display: false,
        // text: 'Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  };

  //

  var doughnutDataResponsesByChannel = {
    datasets: [{
      data: [
        307086, 428220, 372882
      ],
      backgroundColor: [
        "#00BDE3",
        "#0071bc",
        "#6D7375",
        "#285C7E",
        "#94C7E9",
        "#173D4D",
        "#B3B6B7",
        "#372D5F",
      ],
      label: 'Responses by Agency'
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
      'Email',
      'Phone',
      'Web'
    ]
  };

  var doughnutConfigResponsesByChannel = {
    type: 'doughnut',
    data: doughnutDataResponsesByChannel,
    options: {
      responsive: true,
      legend: {
        align: 'start',
        position: 'bottom',
      },
      title: {
        display: false,
        // text: 'Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  };

  window.addEventListener("load", function() {
    var ctx = document.getElementById('cx-doughnut-chart-canvas').getContext("2d");
    window.myDoughnut = new Chart(ctx, doughnutConfig);

    var ctx2 = document.getElementById("cx-doughnut-chart-responses-by-channel");
    var myChart = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ["FY2020 Q2"],
        datasets: [{
            label: 'Email',
            data: [307086],
            backgroundColor: [
              '#0071bc'
            ]
          },
          {
            label: 'Phone',
            data: [428220],
            backgroundColor: [
              '#285C7E'
            ]
          },
          {
            label: 'Web',
            data: [372882],
            backgroundColor: [
              '#94C7E9'
            ]
          }
        ]
      },
      options: {
        responsive: true,
        legend: {
          align: 'start',
          position: 'bottom',
        },
        scales: {
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
              userCallback: function(value, index, values) {
                return value.toLocaleString();
              }
            }
          }],
          xAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true
            }
          }]

        }
      }
    });
  });
</script>
