
<section class="usa-section" style="background-color:white;">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="usa-grid usa-serif">
        <div class="usa-width-one-whole">
          Feedback Data collected
          April 1 –
          June 30, 2020: Aggregate Statistics 
        </div>
      </div>
    </div>
  </div>
  <!-- Below 4 is red. Over 4.5 is green. Between, yellow.  -->
  <div class="usa-grid">
    <div class="usa-width-three-fourths">
      <div class="usa-grid usa-serif">
        <div class="usa-width-one-third">
          <span style="font-size: 3.25em;">
            15
          </span>
          <br>
          <span style="font-size: 2em;">
          Agencies
          </span>
        </div>
        <div class="usa-width-one-third">
          <span style="font-size: 3.25em;">
            25
          </span>
          <br>
          <span style="font-size: 2em;">
          Services
          </span>
        </div>
        <div class="usa-width-one-third">
          <span style="font-size: 2.25em;">
            556,507,135
          </span>
          <br>
          <span style="font-size: 2em;">
            Interactions
          </span>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <p>
        We are currently unable to publish scores across each of the government-wide experience measures (including Trust, Satisfaction, and drivers such as ease, equity, and employees) due to data being collected under Paperwork Reduction Act clearances that do not allow for public disclosure.
        </p>
        <div style="font-size: 13px; margin-bottom: 20px;">
          <div style="margin-bottom: 3px;">
            Key:
          </div>
          <div class="usa-row">
            <div class="usa-width-one-whole">
              <div style="margin-bottom: 12px;">
                <span>
                  <i class="fa fa-times-circle" style="color: #e52207;"></i>
                  below 3.75
                </span>
                &nbsp;
                &nbsp;
                <span>
                  <i class="fa fa-times-circle" style="color: #ffbe2e;"></i>
                  3.75 to 4.25
                </span>
                &nbsp;
                &nbsp;
                <span>
                  <i class="fa fa-times-circle" style="color: #a3b72c;"></i>
                  4.25 to 4.75
                </span>
                &nbsp;
                &nbsp;
                <span>
                  <i class="fa fa-check-circle" style="color: #538200;"></i>
                  4.75 to 5
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat light-green">
            <div class="usa-alert-body">
              <div class="percentage2">
                4.33
              </div>
              <div class="category2">
                <div class="usa-alert-heading">Satisfaction</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat warning">
            <div class="usa-alert-body">
              <div class="percentage2">
                4.01
              </div>
              <div class="category2">
                <div class="usa-alert-heading">Trust</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="usa-alert cx-alert-stat warning">
            <div class="usa-alert-body">
              <div class="percentage">
                4.06
              </div>
              <div class="category">
                <div class="usa-alert-heading">Service Quality</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="usa-alert cx-alert-stat warning">
            <div class="usa-alert-body">
              <div class="percentage">
                4.02
              </div>
              <div class="category">
                <div class="usa-alert-heading light-green">Ease of Process</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="usa-alert cx-alert-stat warning">
            <div class="usa-alert-body">
              <div class="percentage">
                4.15
              </div>
              <div class="category">
                <div class="usa-alert-heading alert">Process Efficiency</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="usa-alert cx-alert-stat light-green">
            <div class="usa-alert-body">
              <div class="percentage">
                4.40
              </div>
              <div class="category">
                <div class="usa-alert-heading">Equity in Process</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="usa-alert cx-alert-stat light-green">
            <div class="usa-alert-body">
              <div class="percentage">
                4.54
              </div>
              <div class="category">
                <div class="usa-alert-heading">Helpful Employees</div>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-width-one-fourth usa-serif" style="background-color: #F4F4F4; border-bottom: 10px solid #CCC;">
      <div style="padding: 0 12px 12px 12px;">
        <span style="font-size: 2.25em;">
          1,108,908
        </span>
        <br>
        <span style="font-size: 2em;">
          Responses
        </span>

        <div class="usa-width-one-whole">
          <h4>
            Responses by agency
          </h4>
          <canvas id="cx-doughnut-chart-canvas" width="220" height="400">&nbsp;</canvas>
          <br>
        </div>
        <div id="responses-by-channel">
          <h4>
            Responses by channel
          </h4>
          <div class="usa-width-one-third">
            <i class="fa fa-user"></i>
            <br>
            in person
            <br>
            307,806
          </div>
          <div class="usa-width-one-third">
            <i class="fa fa-phone"></i>
            <br>
            phone
            <br>
            428,220
          </div>
          <div class="usa-width-one-third">
            <i class="fa fa-inbox"></i>
            <br>
            web
            <br>
            372,882
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var doughnutData = {
    datasets: [{
      data: [
        305079, 279814, 119138, 118122, 92514, 91975, 40574, 60977
      ],
      backgroundColor: [
        "#00BDE3",
        "#0071bc",
        "#6D7375",
        "#285C7E",
        "#94C7E9",
        "#173D4D",
        "#B3B6B7",
        "#372D5F",
      ],
      label: 'Responses by Agency'
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
      'VHA (in person)',
      'Medicare (phone)',
      'Healthcare.gov (phone)',
      'IRS (web)',
      'Medicare (phone)',
      'SSA (web)',
      'OPM Retirement (web)',
      'Others'
    ]
  };

  var doughnutConfig = {
    type: 'doughnut',
    data: doughnutData,
    options: {
      responsive: true,
      legend: {
        align: 'start',
        position: 'bottom',
      },
      title: {
        display: false,
        // text: 'Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  };

  window.addEventListener("load", function() {
    var ctx = document.getElementById('cx-doughnut-chart-canvas').getContext("2d");
    window.myDoughnut = new Chart(ctx, doughnutConfig);
  });
</script>
