<section class="usa-section" style="background-color:#f1f1f1; border-top: 1px solid #205493;">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
      <h2>
        Project Documents
      </h2>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/FCXI-Journey-Maps-Disaster-Survivor.pdf" target="_blank">Journey Map: Surviving a Natural Disaster</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/FCXI-Journey-Maps-Disability.pdf" target="_blank">Journey Map: Transitioning to Adulthood</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/Service_Member_Transition_to_Civilian_Employment_Journey_Map.pdf" target="_blank">Journey Map: Seeking Employment after Service</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/Service_Member_Transition_to_Civilian_Employment_Journey_Map_Guide.pdf" target="_blank">Service Member Transition to Civilian Employment, Journey Map Guide</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/Project_Report.pdf" target="_blank">Service Member Transition to Civilian Employment, Project Report</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/Workshop_Guide_for_Federal_Agencies.pdf" target="_blank">Service Member Transition to Civilian Employment, Workshop Guide for Federal Agencies</a>
        </li>
        <li><a href="{{ site.baseurl }}/cx/2020cxmaps/Cross-Agency-Journey-Map-ICR-Submission_July 29-2020.docx">How we used data from our interviews (information collection approved under OMB Control # 2900-0876)</a></li>
        <li><a href="{{ site.baseurl }}/cx/2020cxmaps/Cross Agency Journey Map ICR Submission_SURVEY_09222020.docx">How we used data from surveys (information collection approved under OMB Control # 3090-0321)</a></li>
        <li>
          <a href="{{ site.baseurl }}/cx/assets/files/Human_Centered_Design_Discovery_Stage_Field_Guide.pdf" target="_blank">Human Centered Design Discovery Stage Field Guide</a>
        </li>
      </ul>
    </div>
  </div>
</section>
