<section class="usa-section" style="background-color:#f1f1f1; border-top: 1px solid #205493;">
  <div class="usa-grid">
    <h2>
      Articles and Resources on Federal CX
    </h2>
    <div class="usa-width-one-whole">
      <ul class="usa-accordion" id="transition">
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;" aria-expanded="false" aria-controls="a5">
            <img class="usa-media_block-img" src="{{ site.baseurl }}/img/toolkit.png" alt="toolkit icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;A-11 Section 280 Toolkit
          </button>
          <div id="a5" class="usa-accordion-content" style="background-color:#f1f1f1; font-weight: bold; padding-left:0;" aria-hidden="true">
            <div class="usa-grid">
              <div class="usa-width-one-half usa-media_block">
                <p><a href="{{ site.baseurl }}/cx/assets/files/2020-Capacity-Assessment-Template.xlsx" target="_blank">2020 CX Capacity Assessment</a></p>
                <p><a href="{{ site.baseurl }}/cx/assets/files/2020-CX-Action-Plan-Template.pptx" target="_blank">2020 CX Action Plan Template</a></p>
                <p><a href="{{ site.baseurl }}/cx/assets/files/Federal-Service-Worksheet.pptx" target="_blank">Federal Service Worksheet</a></p>
                <p><a href="{{ site.baseurl }}/cx/assets/files/2020-HISP-List.pdf" target="_blank">2020 HISP List</a></p>
                <p><a href="{{ site.baseurl }}/cx/assets/files/a11-280.pdf" target="_blank">2020 A-11 Section 280</a></p>
              </div>
              <div class="usa-width-one-half usa-media_block">
                <p><a href="{{ site.baseurl }}/cx/assets/files/CX-Feedback-Data-Submission.xlsx" target="_blank">CX Feedback Data Submission Template</a></p>
                <p><a href=" https://community.max.gov/x/cQDMVw" target="_blank">OMB MAX CX Site</a></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;" aria-expanded="false" aria-controls="a7">
            <img class="usa-media_block-img" src="{{ site.baseurl }}/img/resources.png" alt="links icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;Additional Federal CX Resources
          </button>
          <div id="a7" class="usa-accordion-content" style="background-color:#f1f1f1; font-weight: bold;" aria-hidden="false">
            <p><a target="_blank" href="{{ site.baseurl }}/cx/assets/files/CX Overview.pdf">CX Overview</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/CX-HISP-Action-Plans">2019 CX Action Plan Summary</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/2020cxmaps">2020 Cross-Agency Journey Mapping Project</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/blog/mapping-cx-journey/">2018 Cross-Agency Journey Mapping Project</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/improving-cx-governmentwide">2019 State of Government-wide CX</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/assets/files/HISP-placemat.pdf">HISP Highlights</a></p>
            <p><a target="_blank" href="https://github.com/usds/us-forms-system">US Forms System Library</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/CX-Evaluation-and-Buying-Guide.pdf">Customer Experience Services Evaluation and Buying Guide</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/blog/mapping-cx-journey/">Mapping the Cross-Agency Experience</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/tips-for-starting-your-customer-experience-journey/">Tips for Starting on your CX Journey</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/assets/files/va-customer-experience-cookbook.pdf">VA CX Cookbook</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/assets/files/ACT-IAC-Executive-CX-Panel-2020-11-17.pdf">Slides from ACT-IAC CX Panel, November 17, 2020</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
