<section class="usa-section" style="border: 1px solid #d9e8f6;">
  <div class="usa-grid">
    <h2>
      What are we learning from customer feedback?
    </h2>

    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/customer-feedback-section_image-01.jpg" alt="Photo of person">
      <h3>
        Over 1.1 million survey responses per quarter —
        <span style="color: #e31c3d;">
          The public wants to give feedback
        </span>
      </h3>
      <p>
        20 of 25 High-Impact Service Providers are reporting some feedback data.
        Most of the responses we've analyzed come from HISPs focused on healthcare: CMS and VHA.
        Six agencies provided feedback after the completion of the service, twelve provided data from a contact center, and eleven provided data collected from a website.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/customer-feedback-section_image-02.jpg" alt="Photo of person">
      <h3>
        Overall trust and satisfaction are slightly above average  —
        <span style="color: #e31c3d;">
          We don't yet have a full picture of customer journeys
        </span>
      </h3>
      <p>
        While feedback data shows that interactions generally increase confidence or trust in government, there is still room to improve, and most feedback surveys are NOT administered at the completion of a service or objective. We must better instrument and collect feedback at various points along a journey, as well as at the completion of one.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/customer-feedback-section_image-03.jpg" alt="Photo of person">
      <h3>
        Highest scores from responses relating to 'employee' interaction —
        <span style="color: #e31c3d;">
          People matter in providing a good service experience
        </span>
      </h3>
      <p>
        Regression analysis suggests that trust and satisfaction also correlate strongly with the effectiveness, ease, and efficiency of the interaction or interface.
      </p>
    </div>
  </div>
</section>
