<section class="usa-section usa-graphic_list" style="background-color:#f1f1f1;">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-media_block ">
      <h2>Who’s doing the work?</h2>
      <p>A cross-government team, brought together as part of the <a href="https://www.performance.gov/CAP/cx/">Improving Customer Experience with Federal Services CAP goal</a> (co-owned by the Office of Management and Budget and the Department of
        Veterans Affairs) will be conducting this effort. We have collaborating partners from multiple Federal agencies:</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/ssa-seal.png" alt="Social Security Administration seal" style="width:80px;"><br>
        <span class="tooltiptext">Social Security Administration</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/dol-seal.png" alt="Department of Labor seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Labor</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/hhs-seal.png" alt="Department of Health & Human Services seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Health & Human Services</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/ed-seal.png" alt="Department of Education seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Education</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/va-seal.png" alt="Veterans Affairs seal" style="width:80px;"><br>
        <span class="tooltiptext">Veterans Affairs</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/dhs-seal.png" alt="Department of Homeland Security seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Homeland Security</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/hud-seal.png" alt="Department of Housing and Urban Development seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Housing and Urban Development</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/sba-seal.png" alt="Small Business Administration seal" style="width:80px;"><br>
        <span class="tooltiptext">Small Business Administration</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/opm-seal.png" alt="Office of Personnel Management seal" style="width:80px;"><br>
        <span class="tooltiptext">Office of Personnel Management</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/img/cx/agencies/usda-seal.png" alt="Department of Agriculture seal" style="width:80px;"><br>
        <span class="tooltiptext">Department of Agriculture</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/2020cxmaps/gsa.png" alt="General Services Administration seal" style="width:80px;"><br>
        <span class="tooltiptext">General Services Administration</span>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block" style="margin-top:2em">
      <div class="tooltip" style="height:90px;text-align:center;">
        <img src="{{ site.baseurl }}/2020cxmaps/1200px-US-OfficeOfManagementAndBudget-Seal.svg.png" alt="United States Office of Management and Budget seal" style="width:80px;"><br>
        <span class="tooltiptext">United States Office of Management and Budget</span>
      </div>
    </div>
  </div>
</section>
