<section class="usa-banner">
    <div class="usa-grid usa-banner-inner">
        <p style="padding: 10px 0">Looking for information on a past administration's performance and management agendas? 
            <a href="https://www.trumpadministration.archives.performance.gov/" style="color: black;">Trump archive</a> 	&#124; 
            <a href="https://obamaadministration.archives.performance.gov/" style="color: black;">Obama archive</a>     &#124; 
            <a href="https://georgewbush-whitehouse.archives.gov/omb/expectmore/index.html" style="color: black;">Bush archive</a></p>
    </div>
</section>