<section class="usa-banner">
    <div class="usa-grid usa-banner-inner">
        <p style="padding: 10px 0">Looking for a past Administration's performance and management agendas? 
            <a href="#" style="color: black;" target="_blank">Trump archive</a> 	&#124; 
            <a href="#" style="color: black;" target="_blank">Obama archive</a>     &#124; 
            <a href="https://georgewbush-whitehouse.archives.gov/omb/budintegration/pma_index.html" target="_blank" style="color: black;">Bush archive</a></p>
    </div>
</section>