
<a onclick="myFunction20()" onkeypress="myFunction20()"  tabindex="0" class="usa-button usa-button-secondary" >Operating and Maintenance Costs per Square Foot</a>

<a onclick="myFunction15()" onkeypress="myFunction15()"  tabindex="0" class="usa-button usa-button-secondary" >Rent Costs per Square Foot</a>

<a onclick="myFunction16()" onkeypress="myFunction16()"  tabindex="0" class="usa-button usa-button-secondary" >Reduce the Footprint</a>

<a onclick="myFunction17()" onkeypress="myFunction17()"  tabindex="0" class="usa-button usa-button-secondary" >Condition Index</a>

<a onclick="myFunction18()" onkeypress="myFunction18()"  tabindex="0" class="usa-button usa-button-secondary" >Tenant Satisfaction Scores</a>

<a onclick="myFunction19()" onkeypress="myFunction19()"  tabindex="0" class="usa-button usa-button-secondary" >Square Feet per Person</a>

            <style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.link-button{
cursor: pointer;
    display: block;
    padding: 15px 15px 15px 8px;
    margin: 3.5px 3.5px 20px 3.5px;
    position: relative;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>


        <!-- <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
          <li>
            <div class="link-button">
              <i class="fa  fa-arrows-alt" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Sharing Quality Services</span><i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu" style="padding-left:8px;margin-top:0px;">
              <li onclick="myFunction11()" id="agency-1">Customer Satisfaction Scores</li>
            </ul>
          </li>

        </div>
        <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
          <li>
            <div class="link-button">
              <i class="fa fa-money" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Getting Payments Right</span><i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu" style="padding-left:8px;margin-top:0px;">
              <li onclick="myFunction12()" id="agency-1">Cash Loss: FY17-18</li>
              <li onclick="myFunction13()" id="agency-1">Cash Loss: Program Scorecards</li>
            </ul>
          </li>

        </div>

        </div>-->

    </ul>
</section>

<script src="{{ site.baseurl }}/js/reduce-the-footprint.js"></script>
