<section class="usa-section usa-graphic_list" style="padding:0px;">
    <ul id="accordion" class="accordion iso-nav" style="margin-left:0px;list-style-type:none;">

        <div class="usa-grid usa-graphic_list-row" >
            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">
                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>


            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">

                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>

            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">

                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>
            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">

                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>
            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">

                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>
            <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
                <li>
                    <div onclick="myFunction14()" onkeypress="myFunction14()" class="link" tabindex="0">

                        <a id ="mobile-button" class="usa-button usa-button-secondary" href="#KPI">Bucket 1</a>
                    </div>

                </li>
            </div>



        <style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>


        <!-- <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
          <li>
            <div class="link">
              <i class="fa  fa-arrows-alt" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Sharing Quality Services</span><i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu" style="padding-left:8px;margin-top:0px;">
              <li onclick="myFunction11()" id="agency-1">Customer Satisfaction Scores</li>
            </ul>
          </li>

        </div>
        <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
          <li>
            <div class="link">
              <i class="fa fa-money" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Getting Payments Right</span><i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu" style="padding-left:8px;margin-top:0px;">
              <li onclick="myFunction12()" id="agency-1">Cash Loss: FY17-18</li>
              <li onclick="myFunction13()" id="agency-1">Cash Loss: Program Scorecards</li>
            </ul>
          </li>

        </div>

        </div>-->

    </ul>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/kpi.js"></script>
<script src="{{ site.baseurl }}/js/reduce-the-footprint.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>
<script src="https://use.fontawesome.com/965b3921bf.js"></script>
