<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ site.baseurl }}/img/close.png" alt="close">
    </button>
    <ul class="usa-nav-primary usa-accordion">
      <li class="usa-footer-secondary-link">
        <a class="usa-nav-link" href="{{ site.baseurl }}/news">
          <span>News</span>
        </a>
      </li>
      <li class="usa-footer-secondary-link">
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="megamenu-1">
          <span>Management Priorities</span>
        </button>
        <ul class="usa-nav-submenu usa-megamenu usa-grid-full" id="megamenu-1" aria-hidden="true">
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Overview</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/PMA/PMA.html">The President's Management Agenda</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/overview/">Cross Agency Priority Goal Overview</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/data/#cap">Key Performance Indicators</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Key Drivers of Transformation</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/it-mod/">IT Modernization</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/leveragingdata/">Data, Accountability and Transparency</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/workforce/">People - Workforce for the 21st Century</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Cross-Cutting Priority Areas</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/cx/">Improving Customer Experience</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/sharing-quality-services/">Sharing Quality Services</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/low-value-to-high-value-work/">Shifting From Low-Value to High-Value
                  Work</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Functional Priority Areas</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/category-management/">Category Management</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/grants/">Results-Oriented Accountability for Grants</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/getting-payments-right/">Getting Payments Right</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/tbm/">Federal IT Spending Transparency</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/frictionless-acquisition/">Frictionless Acquisition</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Mission Priority Areas</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/permitting/">Modernize Infrastructure Permitting</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/security-clearance-reform/">Security Clearance, Suitability, and Credentialing Reform</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/CAP/lab-to-market/">Lab-to-Market</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="#" class="disabled"><span class="navheader">Other Initiatives</span></a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/GovReform/index.html">Reform Plan and Reorganization Recommendations</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/GEARcenter/index.html">GEAR Center</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/elimination/elimination_of_unnecessary_agency_reports.html">Elimination of Unnecessary Agency Reports</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/real-property-metrics/">Real Property Metrics</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/gearawards/">Gears of Government Awards</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="usa-footer-secondary-link">
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="megamenu-2">
          <span>Agencies</span>
        </button>
        <ul class="usa-nav-submenu usa-megamenu usa-grid-full" id="megamenu-2" aria-hidden="true">
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/agriculture/">Department of Agriculture</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/commerce/">Department of Commerce</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/defense/">Department of Defense</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/education/">Department of Education</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/energy/">Department of Energy</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/health-and-human-services/">Department of Health and Human Services</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/homeland-security/">Department of Homeland Security</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/housing-and-urban-development/">Department of Housing and Urban
                  Development</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/interior/">Department of the Interior</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/justice/">Department of Justice</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/labor/">Department of Labor</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/state/">Department of State</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/transportation/">Department of Transportation</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/treasury/">Department of the Treasury</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/veterans-affairs/">Department of Veterans Affairs</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/EPA/">Environmental Protection Agency</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/GSA/">General Services Administration</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/NASA/">National Aeronautics and Space Administration</a>
              </li>
            </ul>
          </li>
          <li class="usa-megamenu-col">
            <ul>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/NSF/">National Science Foundation</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/OPM/">Office of Personnel Management</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/SBA/">Small Business Administration</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/SSA/">Social Security Administration</a>
              </li>
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/state/">United States Agency for International Development</a>
              </li>
              <hr style="border:1px solid #02bfe7;">
              <li class="usa-footer-secondary-link">
                <a href="{{ site.baseurl }}/other-federal-agencies/">Other Federal Agencies</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="usa-footer-secondary-link">
        <a class="usa-nav-link" href="{{ site.baseurl }}/data/">
          <span>Data</span>
        </a>
      </li>
      <li class="usa-footer-secondary-link">
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-4">
          <span>About</span>
        </button>
        <ul id="sidenav-4" class="usa-nav-submenu" aria-hidden="true">
          <li class="usa-footer-secondary-link">
            <a href="{{ site.baseurl}}/about/getstarted.html">Get Started</a>
          </li>
          <li class="usa-footer-secondary-link">
            <a href="{{ site.baseurl}}/about/About P.gov.html">About Performance.gov</a>
          </li>
          <li class="usa-footer-secondary-link">
            <a href="{{ site.baseurl}}/about/FAQ.html">FAQs</a>
          </li>
          <li class="usa-footer-secondary-link">
            <a href="{{ site.baseurl}}/about/framework_about.html">Performance Framework </a>
          </li>
          <li class="usa-footer-secondary-link">
            <a href="{{ site.baseurl}}/key-partners/">Key Partners</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="usa-nav-secondary">
      <form class="usa-search usa-search-small" action="https://search.usa.gov/search" accept-charset="UTF-8">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div role="search">
          <label class="usa-sr-only" for="search-field-small">Search small</label>
          <input id="affiliate" name="affiliate" type="hidden" value="performance.gov" />
          <input id="search-field-small" type="search" name="query" autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="text">
          <button type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
