---
title: "Building trust through improved service delivery and experience"
layout: navigation_PMA
agency_dir: cx
cap-icon: "/img/CAP_icons/Icon_Improving_Customer_gray.png"
redirect_from: /HISPs/
pagination:
  enabled: true
  tags: cx
---
<script src="https://touchpoints.app.cloud.gov/touchpoints/dfbfea02/js" async></script>
<script src="{{ site.baseurl }}/js/chart.js"></script>
<script src="{{ site.baseurl }}/js/chartjs-utils.js"></script>
<script type="text/javascript">
  var chartConfigs = {};
  var cxCharts = {};
</script>

<section class="usa-hero cx-hero" style="min-height: 440px;">
  <div class="usa-grid">
    <div class="usa-width-one-third">
      &nbsp;
    </div>
    <div class="usa-width-two-thirds">
      <div class="" style="margin-top: 40px; color: #112e51;">
        <a href="{{ site.baseurl }}/CAP/cx/" style="color: #151622; text-decoration: none;"> &#10094; &nbsp; Back to CX CAP Goal</a>
        <h1 style="margin-top: 0.5em; color: #151622;">We&rsquo;re transforming the way government serves the public</h1>
      </div>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-two-thirds usa-prose">
      <p>
        From small businesses seeking loans, to families receiving disaster support,
        to someone passing through an airport security line -
        every interaction between the Federal government and the public is an opportunity
        to demonstrate the government understands and is meeting their needs.
        For an individual, this can mean less time in a government office,
        on the phone with a help desk, or more digestible information to support a decision.
        Collectively, throughout a lifetime of interacting with different agencies,
        these moments are powerful opportunities to show citizens their government works.
        Improving the public’s trust in government happens transaction by transaction,
        and we must act to improve every one that we can.
      </p>
      <a class="usa-button usa-button-secondary" href="{{ site.baseurl }}/cx/blog/">Learn more about our latest work</a>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/cx-us-logo.png" alt="US CX Logo">
    </div>
  </div>
</section>

<hr style="border: none; border-top: 1px solid #d9e8f6;">

{% include cx/dashboard-lite.html %}
<br>
<br>
{% include cx/stories.html %}
{% include cx/hisp-listing.html %}

<br>
<br>

<section class="usa-section" style="background-color:#f1f1f1;">
  <div class="usa-grid">
    <h2>What does Customer Experience (CX) work look like in government?</h2>

    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/olympic-national-park.jpg" alt="Photo of Olympic National Park">
      <p>
        <strong><a href="https://www.recreation.gov/permits/4098362">Wilderness Permits on Recreation.gov</a></strong>
      </p>
      <p>
        Bringing Olympic National Park Wilderness permits onto recreation.gov has saved more than 5,000 staff hours in less than one year and has shifted the customer experience from burdensome time waiting in line, on the phone, sending faxes or
        emails, and enables visitors to know immediately whether their reservations are secured.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/usda-nslp-photo.jpg" alt="Photo of student eating lunch as part of National School Lunch Program">
      <p>
        <strong><a href="https://www.dmi.org/page/2015DVAOPM">The National School Lunch Program</a></strong>
      </p>
      <p>
        The National School Lunch Program provides low-cost or free lunches to 30 million children living at or below the poverty level each school day. On the customer side, the application process was very challenging, leaving out children that
        needed access to healthy meals. On the Federal side, there was a potential of 1.8 billion dollars in improper payments going back to schools. A journey mapping process led to a redesigned application form.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/journey-map.jpg" alt="Veterans Employment journey map photo">
      <p>
        <strong><a href="https://www.performance.gov/mapping-cx-journey/">Veterans Employment</a></strong>
      </p>
      <p>
        Government typically approaches improvement and implementation from a bureaucratic, organizational-centered view. To better tackle barriers experienced by those leaving the military and entering the labor market, we built a journey map from
        the perspective of actual people living this moment – and showed how points at which multiple Federal agencies were involved were often also the most confusing to the user.
      </p>
    </div>
  </div>
</section>

<section class="usa-section" style="background-color:#f1f1f1; border-top: 1px solid #205493;">
  <div class="usa-grid">
    <h2>
      Articles and Resources on Federal CX
    </h2>
    <div class="usa-width-one-whole">
      <ul class="usa-accordion" id="transition">
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;" aria-expanded="false" aria-controls="a5">
            <img class="usa-media_block-img" src="{{ site.baseurl }}/img/toolkit.png" alt="toolkit icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;A-11 Section 280 Toolkit
          </button>
          <div id="a5" class="usa-accordion-content" style="background-color:#f1f1f1; font-weight: bold; padding-left:0;" aria-hidden="true">
            <div class="usa-grid">
              <div class="usa-width-one-half usa-media_block">
                <p><a href="{{ site.baseurl }}/cx/2020-Capacity-Assessment-Template.xlsx" target="_blank">2020 CX Capacity Assessment</a></p>
                <p><a href="{{ site.baseurl }}/cx/2020-CX-Action-Plan-Template.pptx" target="_blank">2020 CX Action Plan Template</a></p>
                <p><a href="{{ site.baseurl }}/cx/Federal-Service-Worksheet.pptx" target="_blank">Federal Service Worksheet</a></p>
                <p><a href="{{ site.baseurl }}/cx/2020-HISP-List.pdf" target="_blank">2020 HISP List</a></p>
                <p><a href="{{ site.baseurl }}/cx/a11-280.pdf" target="_blank">2020 A-11 Section 280</a></p>
              </div>
              <div class="usa-width-one-half usa-media_block">
                <p><a href="{{ site.baseurl }}/cx/CX-Feedback-Data-Submission.xlsx" target="_blank">CX Feedback Data Submission Template</a></p>
                <p><a href=" https://community.max.gov/x/cQDMVw" target="_blank">OMB MAX CX Site</a></p>
             </div>
            </div>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;" aria-expanded="false" aria-controls="a7">
            <img class="usa-media_block-img" src="{{ site.baseurl }}/img/resources.png" alt="links icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;Additional Federal CX Resources
          </button>
          <div id="a7" class="usa-accordion-content" style="background-color:#f1f1f1; font-weight: bold;" aria-hidden="false">
            <p><a target="_blank" href="{{ site.baseurl }}/cx/CX Overview.pdf">CX Overview</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/CX-HISP-Action-Plans">2019 CX Action Plan Summary</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/2020cxmaps">2020 Cross-Agency Journey Mapping Project</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/mapping-cx-journey/">2018 Cross-Agency Journey Mapping Project</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/improving-cx-governmentwide">2019 State of Government-wide CX</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/HISP-placemat.pdf">HISP Highlights</a></p>
            <p><a target="_blank" href="https://github.com/usds/us-forms-system">US Forms System Library</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/CX-Evaluation-and-Buying-Guide.pdf">Customer Experience Services Evaluation and Buying Guide</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/mapping-cx-journey/">Mapping the Cross-Agency Experience</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/tips-for-starting-your-customer-experience-journey/">Tips for Starting on your CX Journey</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/va-customer-experience-cookbook.pdf">VA CX Cookbook</a></p>
            <p><a target="_blank" href="{{ site.baseurl }}/cx/ACT-IAC-Executive-CX-Panel-2020-11-17.pdf">Slides from ACT-IAC CX Panel, November 17, 2020</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="usa-section usa-graphic_list" style="background-color:#205493;color:#ffffff;">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
      <h2>
        Recent from the
        <a href="{{ site.baseurl }}/cx/blog" style="color: white;">Federal CX Blog</a>
      </h2>
      {% for project in paginator.posts limit: 5 %}
      <hr>
      <p class="card-tag" style="color:#ffffff;margin-bottom:0px;">{{ project.date | date: '%B %d, %Y' }}</p>
      <a style="color:#ffffff;text-decoration:none;" href="{{ site.baseurl }}{{ project.permalink }}">
        <h3 style="margin-top:5px;">{{ project.title }}</h3>
      </a>
      {% endfor %}
    </div>
    <p><b><a style="color:white;" href="{{ site.baseurl }}/CAP/cx/"> &#10094; &nbsp; Back to CX CAP Goal</a></b></p>
  </div>
</section>
